<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <title>{% block title %}PickleballTournamentsPortal.com{% endblock title %}</title>
    <script src="/scripts/mithril.js"></script><!--Get a minified version before deployment-->
    {%- block head %}
    <script src="/scripts/main.js"></script>
    {%- endblock head %}
  </head>
  <body>
    <header>
      <a href="/"><img id="logo" src="/images/ptp.png" /></a>
      <h1>Pickleball Tournaments Portal</h1>
      {%- block header %}{% endblock header %}
    </header>
    {%- block body %}{% endblock body %}
    <footer>{%- block footer %}{% endblock footer %}</footer>
  </body>
</html>