{% extends "base" %}
{% block body %}
    <main>
      <h2>What is this place?</h2>
      <p>This site is a work in progress. More on that later...</p>
      <p>Check out the <a href="/tournaments">Tournament Search</a> page.</p>
    </main>
{%- endblock body %}