@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Nunito:wght@400;700&display=swap');

*, ::after, ::before {
  box-sizing: border-box;
}

a {
  color: #4169E1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.accordion {
  margin-top: 1em;
  padding-bottom: 1em;
  position: relative;
}

.accordion:not(:last-of-type) {
  border-bottom: 1px solid #E4E4E4;
}

.accordion > .content {
  opacity: 1;
  position: relative;
  transition: opacity 0.35s ease-in;
}

.accordion.collapsed > .content {
  opacity: 0;
}

.accordion > .title {
  cursor: pointer;
}

.accordion > .title > .content > * {
  margin: 0;
  padding: 0;
}

.accordion > .title > .content > ::before {
  content: "██";
  display: inline-block;
  height: 1em;
  margin-right: 0.25em;
  mask-image: url("/images/accordion-expander.svg");
  mask-position: center;
  mask-size: 75%;
  position: relative;
  transition: transform 0.15s ease-out 0s;
  top: 0.15em;
  width: 1em;
}

.accordion.collapsed > .title > .content > ::before {
  transform: rotate(-90deg);
}

.accordion > .content {
  margin-left: 0.5em;
  padding-left: 1em;
}

body {
  display: flex;
  flex-flow: column nowrap;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.captcha {
  align-self: stretch;
  display: grid;
  grid-area: 1 / 1 / -1 / -1;
  grid-gap: 2em;
  grid-template-rows: 1.5fr 2fr;
  justify-items: center;
}

.captcha.shown {
  grid-gap: 1em;
  grid-template-rows: min-content 1fr;
}

.captcha > :first-child {
  align-self: end;
}

.captcha > :last-child {
  align-self: start;
}

.captcha.shown > :last-child {
  align-self: stretch;
  justify-self: stretch;
}

.captcha iframe {
  border: none;
  height: 750px;
  width: 100%;
}

.captcha .iframe-shell {
  border: 2px solid #121E40;
  height: calc(100vh - 17em);
  overflow: auto;
}

.captcha p {
  line-height: 1.5em;
  max-width: 28em;
}

.captcha .captcha-button {
  background-color: #F0F0FF;
  border: 3px solid #C5D4FF;
  border-radius: 5px;
  color: #333333;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
  padding: 0.5em;
  text-align: center;
  width: 12em;
}

.captcha .captcha-button:hover {
  background-color: #DDDDFF;
  text-decoration: none;
}

.filter {
  border: 1px solid #ced4d9;
  border-radius: 4px;
  font-size: 1em;
  padding: 0.5em 0.75em;
  transition: box-shadow 0.15s ease-in-out;
  width: 100%;
}

.filter:focus {
  box-shadow: 0 0 0 0.2em rgba(0, 123, 255, 0.25);
  outline: 0;
}

h1, h2 {
  font-family: "Fjalla One", sans-serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  margin: 0 0 0.5em;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.4em;
}

header {
  background-color: #121E40;
  padding: 1em;
}

header a {
  align-items: center;
  display: flex;
  gap: 1em;
}

header a:hover {
  text-decoration: none;
}

header #logo {
  height: 60px;
  width: 60px;
}

header h1 {
  color: white;
  margin: 0;
}

html {
  height: 100%;
}

main {
  align-self: center;
  flex-grow: 1;
  max-width: 95em;
  padding: 2em;
  width: 100%;
}

.loading {
  align-self: stretch;
  display: grid;
  font-family: "Fjalla One", sans-serif;
  font-size: 2em;
  grid-area: 1 / 1 / -1 / -1;
  grid-gap: 1em;
  grid-template-rows: 1fr 2fr;
  justify-items: center;
}

.loading > * {
  margin: 0;
}

.loading > p {
  align-self: end;
  text-align: center;
}

.loading-indicator {
  align-self: start;
  display: flex;
  gap: 0.8em;
}

.loading-indicator-pip {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  background-color: black;
  border-radius: 50%;
  height: 0.6em;
  width: 0.6em;
}

.loading-indicator-pip:nth-of-type(2) {
  animation-delay: 0.375s;
}

.loading-indicator-pip:nth-of-type(3) {
  animation-delay: 0.75s;
}

@keyframes pulse {
  0% { transform: scale(1, 1); }
  25% { transform: scale(1.5, 1.5); }
  50% { transform: scale(1, 1); }
}

/* Welcome ================================================================= */

#welcome {
  display: flex;
  flex-flow: column nowrap;
}

#welcome #intro {
  align-self: center;
  max-width: 40em;
  padding: 1em;
}

#welcome p {
  line-height: 1.5em;
}

/* Tournament ============================================================== */

#tournament {
  align-items: start;
  display: grid;
  grid-gap: 2em 4em;
  grid-template-areas:
    "listing info"
    "data info";
  grid-template-columns: 1fr min(30em, 50%);
  grid-template-rows: min-content 1fr;
}

#tournament #listing {
  background-image: linear-gradient(rgba(18,30,64, .8), rgba(68,109,222, .4)), url("/images/banner.jpg");
  background-position: center;
  display: grid;
  grid-area: listing;
  grid-gap: 1.5em;
  grid-template-areas:
    "link link"
    "logo name"
    "logo dates";
  grid-template-columns: auto 1fr;
  padding: 2em;
}

#tournament #listing #original-link {
  grid-area: link;
}

#tournament #listing img {
  grid-area: logo;
  height: auto;
  max-height: 250px;
  max-width: 250px;
  width: auto;
}

#tournament #listing .name {
  align-self: end;
  color: white;
  font-size: 2.8em;
  grid-area: name;
  margin: 0;
  text-shadow: 0px 0px 15px black;
}

#tournament #listing .dates {
  color: white;
  font-family: "Nunito", sans-serif;
  grid-area: dates;
  margin: 0;
  text-shadow: 0px 0px 15px black;
}

#tournament #listing .dates .date {
  font-weight: 700;
}

#tournament #listing .dates .date:first-of-type:not(:last-of-type) {
  margin-right: 1em;
}

#tournament #listing .dates .date:last-of-type:not(:first-of-type) {
  margin-left: 1em;
}

#tournament #info {
  align-self: stretch;
  border-left: 1px solid #BBBBBB;
  grid-area: info;
  padding-left: 2em;
}

#tournament #info .accordion > .content {
  border-radius: 4px;
  box-shadow: -5px 0px 2px rgba(65, 105, 225, 0.15);
}

#tournament #data {
  grid-area: data;
  padding-left: 4em;
}

#tournament #data h3 {
  color: #4169E1;
  font-family: "Fjalla One", sans-serif;
  font-size: 1.8em;
}

#tournament #data .filter {
  bottom: calc(100% + 1em);
  position: absolute;
  right: 0;
  width: calc(100% - 15em);
}

#tournament #data .event {
  position: relative;
}

#tournament #data .event:not(:last-of-type) {
  margin-bottom: 0.6em;
}

#tournament #data .event::before {
  background-color: #707070;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 0.25em;
  left: -1em;
  position: absolute;
  top: calc(50% - 0.15em);
  width: 0.25em;
}

#tournament #schedule .date, #tournament #events .event-group > .name {
  font-family: "Nunito", sans-serif;
  margin: 1em 0;
}

#tournament #schedule .events {
  border-left: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
  display: grid;
  margin-top: 1em;
}

#tournament #schedule .events > * {
  border-bottom: 1px solid #E4E4E4;
  font-size: 1em;
  margin: 0;
  padding: 1em;
}

#tournament #schedule .header {
  background-color: #121E40;
  color: white;
}

#tournament #schedule .venue-events .venue {
  display: none;
}

#tournament #schedule ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#tournament #events ul {
  list-style: none;
  margin: 0;
  padding-left: 2em;
}

/* Tournaments ============================================================= */

#tournaments {
  align-items: start;
  display: grid;
  grid-column-gap: 2em;
  grid-template-areas:
    "search tournaments"
    "search tournaments"
    "search tournaments";
  grid-template-columns: minmax(16em, min(25em, 25%)) 1fr;
  position: relative;
}

#tournaments #filter {
  border: 2px solid #4169E1;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  grid-area: search;
  position: sticky;
  top: 2em;
}

#tournaments #filter h2 {
  background-color: #4169E1;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
  margin: 0;
  padding: 0.5em;
}

#tournaments #filter > :not(:first-child) {
  margin: 0 1em;
}

#tournaments #filter #view-toggles {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25em;
  list-style: none;
  margin-bottom: 1em;
  padding: 0;
}

#tournaments #filter #view-toggles input[type="checkbox"] {
  appearance: none;
  border: 1px solid #ced4d9;
  border-radius: 4px;
  height: 1.5em;
  margin: 0 0.75em 0 0.25em;
  padding: 0.2em;
  position: relative;
  vertical-align: text-bottom;
  width: 1.5em;
}

#tournaments #filter #view-toggles input[type="checkbox"]:checked::before {
  background-color: #4169E1;
  border-radius: 3px;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}

#tournaments .tournament-list {
  display: flex;
  flex-flow: column nowrap;
  padding: 1em;
}

#tournaments .tournament-list:not(:last-child) {
  padding-bottom: 0;
}

#tournaments .tournament-list h2 {
  margin: 0;
}

#tournaments .tournament-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#tournaments .tournament-listing {
  border-bottom: 1px solid #DDDDDD;
  display: grid;
  grid-template-areas:
    "name logo status"
    "location logo tags"
    "dates logo tags";
  grid-template-columns: minmax(0, 5fr) minmax(250px, 3fr) minmax(0, 3fr);
  grid-template-rows: min-content min-content 1fr;
  margin: 1em 0;
  padding: 1em 0;
}

#tournaments .tournament-listing p {
  margin: 0 0 0.75em;
}

#tournaments .tournament-listing .name {
  grid-area: name;
  margin: 0 0 0.75em;
}

#tournaments .tournament-listing .location {
  grid-area: location;
}

#tournaments .tournament-listing .dates {
  grid-area: dates;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

#tournaments .tournament-listing .tags {
  align-items: center;
  display: flex;
  gap: 1em;
  grid-area: tags;
}

#tournaments .tournament-listing .logo {
  grid-area: logo;
  justify-self: center;
}

#tournaments .tournament-listing .registration-status {
  grid-area: status;
}

#tournaments .tournament-listing .registration-status .status {
  font-weight: 600;
}

#tournaments .tournament-listing .registration-status .detail {
  font-size: 0.8em;
}

#tournaments .tournament-listing .registration-status .closed {
  color: #882222;
}

#tournaments .tournament-listing .registration-status .open {
  color: #228822;
}

#tournaments .tournament-listing .registration-status .open-soon {
  color: #222288;
}

#tournaments .tournament-listing .tags > li > img {
  height: auto;
  max-height: 100px;
  max-width: 100px;
  width: auto;
}

#tournaments .tournament-listing .logo > img {
  height: auto;
  max-height: 200px;
  max-width: 200px;
  width: auto;
}

#tournaments .load-more {
  background-color: #EAEAFF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
}

#tournaments .load-more:hover {
  background-color: #DDDDFF;
}

@media (max-width: 1275px) {
  .captcha iframe {
    height: 1000px;
  }
}

@media (max-width: 1000px) {
  #tournaments {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
  }

  #tournaments #filter {
    position: unset;
  }

  #tournaments .captcha {
    flex-grow: 1;
  }

  #tournaments .loading {
    flex-grow: 1;
  }
}

@media (max-width: 960px) {
  .captcha iframe {
    height: 1150px;
  }
}

@media (max-width: 825px) {
  header h1 {
    font-size: 2em;
  }

  #tournaments .tournament-listing {
    grid-template-areas:
    "name logo"
    "location logo"
    "dates logo"
    "status tags";
    grid-template-columns: minmax(0, 5fr) minmax(175px, 3fr);
    grid-template-rows: min-content;
  }

  #tournaments .tournament-listing .tags {
    justify-content: flex-end;
  }

  #tournaments .tournament-listing .tags > li > img {
    max-height: 75px;
    max-width: 75px;
  }

  #tournaments .tournament-listing .logo > img {
    max-height: 150px;
    max-width: 150px;
  }
}

@media (max-width: 550px) {
  header h1 {
    font-size: 1.5em;
  }

  main {
    padding: 1em;
  }

  .captcha h1 {
    font-size: 1.9em;
  }

  .captcha .iframe-shell {
    height: calc(100vh - 14em);
  }

  #tournaments #filter h2 {
    font-size: 1.2em;
  }

  #tournaments #filter #view-toggles {
    flex-flow: column wrap;
    max-height: 3em;
  }

  #tournaments #filter #view-toggles li {
    flex-grow: 1;
  }

  #tournaments .tournament-listing {
    grid-template-areas:
    "name name"
    "location location"
    "dates dates"
    "status status"
    "logo tags";
    grid-template-columns: minmax(175px, 1fr) auto;
    grid-template-rows: min-content;
  }

  #tournaments .tournament-listing .tags {
    gap: 0.25em;
  }

  #tournaments .tournament-listing .name {
    font-size: 1.2em;
  }
}

@media (max-width: 450px) {
  .captcha iframe {
    height: 1275px;
  }
}